.cloudwords-create-project {
  /*float: right !important;*/
}

.cloudwords-create-project .cloudwords-item-count {
  display: block;
  margin-top: -12px;
  margin-left: 12px;
}

#edit-translation-exists {
  width: 110px;
}

#edit-status {
  width: 140px;
}

.vbo-views-form fieldset {
  padding: 1.1em 0 0 0;
}

#edit-uid {
  width: 103px;
}

#edit-project-details-metadata-cancel {
  float: right;
}
